{% from 'form_fields_macro.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block title %}Login {% endblock %}

{% block content %}
<h1 class="page-heading">Chat rooms are back yay, lets head on there.</h1>
<div class="wrapper">
    <img alt="signin image" class="side-img" src="../static/images/signin.svg">
        <div class="form-container login">
            <h2 class="form-header">Login</h2>
            <form action="{{ url_for('users.login') }}", method="POST">
                {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }} 
                {{ displayField(form.password, 'Password') }}
                <input type="submit" class="submit" value="Login">
                {{ form.csrf_token }}
            </form>
        </div>
</div>
{% endblock %}